@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "../style.css";

:root {
    --sidePadding: 8%;
    --primaryColor: rgb(41, 39, 80);
    --secondaryColor: #9bd0ba;
    --thirdColor: #ff60ce;
    --thirdColorAlt: #d045a7;
    --grey: #9b9eac;
    --light: #fff;
    --dark: #1f1f1f;
    --background: #fff;
    --mainFont: 'barlow', sans-serif;
    --secondaryFont: 'prompt', sans-serif;
    --primaryColorAlt: #64637a;
    --gradient: linear-gradient(to bottom, #0b001698 0%, #0b0016c2 74%, #0b0016 100%);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--grey);
    width: 100%;
    height: 100%;
}

h2 {
    margin: 0;
    font-family: var(--mainFont);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--light);
    font-size: 3em;
}
/* -------------------------------------WHO--------------------------------------    */
section {
    width: 100%;
    padding: 5.9% var(--sidePadding) 0 var(--sidePadding);
    background-color: var(--primaryColor);
}

.who {
    width: 100%;
    height: 100vh;
    padding: 0 var(--sidePadding);
}

.Who-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
}

.Who-container .left-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(images/MC-Bday.jpg);
    background-repeat: no-repeat;
    box-shadow: inset 0 0 10px var(--thirdColorAlt);
    background-size: cover;
    position: relative;
}

.Who-container .left-container::before{
    content: "";
    background: var(--gradient);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
}


.Who-container .right-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--primaryColorAlt);
}

.Who-container .right-container::before{
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--thirdColor);
}

.Who-container .right-container p {
    margin: 0 0px 30px 10px;
    width: auto;
    color: var(--background);
    font-size: 1.2em;
    line-height: 1.6em;
}




/* -----------------------------History---------------------- */
#History {
    padding: 0 var(--sidePadding);
}

.history-container {
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.history-container h2,
.act h2 {
    margin: 50px 0;
    position: relative;
}

.history-container h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 60%;
    border-radius: 5px;
    background-color: var(--background);
}

.H-border {
    padding: 3%;
    width: 60%;
    text-align: center;
    /* border: 3px solid #d33b8b; */
    margin: 80px 0;
    border-radius: 5px;
    box-shadow: var(--secondaryColor) 0px 0px 0px 2px,
        var(--primaryColor) 10px -10px 0px -3px,
        var(--thirdColor) 10px -10px,
        var(--primaryColor) 20px -20px 0px -3px,
        rgb(255, 217, 19) 20px -20px,
        var(--primaryColor) 30px -30px 0px -3px,
        rgb(255, 156, 85) 30px -30px,
        var(--primaryColor) 40px -40px 0px -3px,
        rgb(255, 85, 85) 40px -40px;
}

.H-border p {
    margin: 0;
    margin-bottom: 10px;
    color: var(--background);
    font-size: 0.9em;
    line-height: 1.3em;
    font-family: var(--secondaryFont);
}



/* ----------------------Activities--------------------- */
#Activities {
    padding: 0 var(--sidePadding);
    width: 100%;
    height: auto;
}

.active-container {
    width: 100%;
    background-color: var(--primaryColor);
}

.act-h h2 {
    margin: 0 0 40px 0;
    width: fit-content;
    position: relative;
}

.act-h h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 60%;
    border-radius: 5px;
    background-color: var(--background);
}

.acts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.act {
    width: 298px;
    height: 480px;
    margin-bottom: 200px;
    background-color: var(--light);
    /* border-bottom: 3px solid var(--thirdColor); */
    border-top: 3px solid var(--thirdColor);
    border-bottom: 3px solid var(--thirdColor);
    padding: 5px;
    z-index: 1;
    transition: z-index 0.05s ease-in;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px,
                rgba(0, 0, 0, 0.15) -1.95px 0 2.6px;
    border-radius: 4px;
}

.act:hover {
    z-index: 3;
}

.middle-act::after{
    border-top: 70px solid var(--background);
    border-left: 149px solid transparent;
    border-right: 149px solid transparent;
    content: "";
    bottom: -65px;
    left: 0;
    position: absolute;
    height: 0;
    width: 0;
} 

.middle-act::before{
    border-top: 70px solid var(--thirdColor);
    border-left: 149px solid transparent;
    border-right: 149px solid transparent;
    content: "";
    bottom: -70px;
    left: 0;
    position: absolute;
    height: 0;
    width: 0;
} 

@media screen and (max-width: 1190px) {
    .act {
        margin: 0 !important;
    }

    .middle-act{
        border-radius: 4px !important;
        border-bottom: 3px solid var(--thirdColor) !important;
    }

    .middle-act::after{
        border: 0;
    }
    .middle-act::before{
        border: 0;
    }

    .acts {
        gap: 30px 50px;
    }
}


.middle-act {
    margin: 40px -20px;
    z-index: 2;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: none;
}

.act .act-img {
    height: 40%;
}

.act .act-img img {
    height: 100%;
    width: 100%;
}

.act .act-title{
    margin: 20px 0;
}

.act .act-title h2 {
    color: var(--primaryColor);
    font-size: 2em;
    margin: 0.5em;
    position: relative;
}

.act .act-title h2::after{
    content: "";
    position: absolute;
    left: 14px;
    bottom: -10px;
    height: 4px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--thirdColorAlt);
}

.act .act-title h2::before{
    content: "";
    position: absolute;
    left: 14px;
    top: -10px;
    height: 4px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--thirdColorAlt);
}

.act p {
    text-align: center;
    width: auto;
    font-size: 1em;
    color: var(--primaryColor);
    line-height: 1.4em;
    margin: 0px 10px;
    font-family: var(--secondaryFont);
    padding: 0 7px;
}