@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --sidePadding: 12%;
    --primaryColor: #292750;
    --secondaryColor: #9bd0ba;
    --thirdColor: #ff60ce;
    --grey: #9b9eac;
    --light: #fff;
    --dark: #1f1f1f;
    --background: #fff;
    --mainFont: 'barlow', sans-serif;
    --secondaryFont: 'prompt', sans-serif;
    --primaryColorAlt: #64637a;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--grey);
    width: 100%;
    height: 100%;
}

h2 {
    margin: 0;
    font-family: var(--mainFont);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--light);
    font-size: 3em;
}

/* ------------------------------MAIN-NAV------------------------------------- */
.main-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--sidePadding);
    background-color: var(--primaryColor);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15),
        0px 5px 10px rgba(0, 0, 0, 0.05);
}

.main-nav-elements {
    display: flex;
    list-style: none;
    margin: 0 0 0 auto;
}

.main-nav-element {
    margin: auto 1em;
    text-transform: uppercase;
}

.main-nav-element>a {
    color: var(--light);
    text-decoration: none;
    padding: 0.5em 0;
    font-weight: 600;
    font-family: var(--mainFont);
    transition: all 0.3s ease-in-out;
    position: relative;
}

.main-nav-element>a::after,
.sub-nav-element>a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--thirdColor);
    left: 50%;
    bottom: 0;
    transition: all 0.4s ease-in-out;
}

.main-nav-element>a:hover::after {
    width: 80%;
    left: 10%;
}


.main-nav-element>a:hover {
    color: var(--thirdColor);
}

.main-nav-element:first-child>a::after {
    width: 80%;
    left: 10%;
}

.main-nav-element:first-child>a {
    color: var(--thirdColor);
}

.main-nav-logo {
    height: 5em;
    width: 6em;
    display: flex;
    align-items: center;
}

.main-nav-element-hover {
    position: relative;
}

.sub-nav-elements {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    list-style: none;
    background-color: var(--primaryColor);
    top: 20px;
    left: 0;
    padding: 0;
    width: max-content;
}

.main-nav-element-hover:hover .sub-nav-elements {
    visibility: visible;
}

.sub-nav-elements:hover .main-nav-element-hover {
    color: var(--thirdColor);
}

.sub-nav-element {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
}

.sub-nav-element>a {
    text-decoration: none;
    color: var(--light);
    position: relative;
    font-weight: 600;
    font-family: var(--mainFont);

}

.sub-nav-element>a::after {
    bottom: -8px;
}

.sub-nav-element>a:hover::after {
    width: 80%;
    left: 10%;
}

.sub-nav-element>a:hover {
    color: var(--thirdColor);
}

.main-nav-logo img {
    width: 100%;
    height: 100%;
}

.main-nav .reg-button {
    width: 12rem;
    height: 50%;
    margin: AUTO 1em;
    border-radius: 100PX;
    background-color: var(--thirdColor);
    transition: all 0.4s ease-in-out;
    font-size: 1.2em;
    border: none;
    text-transform: uppercase;
    font-family: var(--mainFont);
    font-weight: 600;
    color: var(--light);
}

.main-nav .reg-button:hover {
    border: 0.1em solid var(--thirdColor);
    background-color: transparent;
    color: var(--thirdColor);
    box-shadow: 0px -0.03em 0.33em var(--thirdColor);
    cursor: pointer;
}

/* .main-nav-logo{
    position: relative;
}

.main-nav-logo::after{
    content: attr(data);
    position: absolute;
    left: 0;
    top: 30%;
    font-size: 1em;
    text-transform: uppercase;
    visibility: hidden;
    color: var(--light);
    font-family: var(--mainFont);
    font-weight: 600;
    transition: 0.3s ease;
}

.main-nav-logo:hover::after{
    width: max-content;
    left: 100%;
    visibility: visible;
} */

/* -----------------------first-section-home-page------------- */
section {
    height: 100vh;
    width: 100%;
    padding: 5.9% var(--sidePadding) 0 var(--sidePadding);
    background-color: var(--primaryColor);
}

.welcome-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0;
    padding: 0;
}

.slides-container {
    height: 100%;
    width: 60%;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
    width: 100%;
}

.slide {
    height: 100%;
    min-width: 100%;
}

.slide img {
    height: 100%;
    width: 100%;
}

.slide-controls {
    display: flex;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(50%);
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#prev-btn,
#next-btn {
    background: transparent;
    cursor: pointer;
    font-size: 30px;
    border: none;
    color: var(--grey);
    padding: 10px;
}

#prev-btn:focus,
#next-btn:focus {
    outline: none;
}

.mini-description {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColor);
}

.mini-description h2 {
    width: 15ch;
    line-height: 1em;
    color: var(--primaryColor);
}

.mini-description p {
    font-size: 1em;
    color: var(--dark);
    line-height: 1em;
    margin: 40px 10px;
    font-family: var(--secondaryFont);
}

/* -----------------------------------------events-brief-show-container------------------ */
.events-brief-show {
    padding-top: 0;
    background-color: var(--primaryColor);
    height: 150vh;
}

.events-brief-show-sub-sec {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.events-brief-show-sub-sec>h2 {
    margin-left: 40px;
    position: relative;
}

.events-brief-show-sub-sec>h2::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 4px;
    background-color: var(--background);
    left: 0.3%;
    bottom: -10%;
    transition: all 0.4s ease-in-out;
}

.events-brief-show-container {
    height: 80%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.event-slides {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 2% 14%;
    flex-wrap: wrap;
    align-items: center;
}

.event-slide {
    height: 47%;
    width: 23.6%;
    padding: 20px;
    background-color: var(--background);
    border-radius: 10px;
    overflow: hidden;
    border: 0.5px solid #64637a;
    box-shadow: 0.5rem 0.5rem var(--primaryColorAlt),
        -0.5rem -0.5rem var(--secondaryColor);
}

.img-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 50px #ccc;
}

.brief-info>h2 {
    width: 10ch;
}

.brief-info>p {
    font-size: 1em;
    color: var(--primaryColorAlt);
    line-height: 1em;
    width: fit-content;
    font-family: var(--secondaryFont);
}

/* ----------------------------------Articles-------------------------- */
.Articles-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Articles-container>h2 {
    position: relative;
}

.Articles-container>h2::after {
    position: absolute;
    content: "";
    width: 13%;
    height: 4px;
    background-color: var(--background);
    left: 0.3%;
    bottom: -10%;
    transition: all 0.4s ease-in-out;
}

.Articles-wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Article-One,
.Article-Two {
    background-color: var(--light);
    width: 96%;
    height: 45%;
    border-radius: 15px 50px;
    box-shadow: rgba(255, 96, 206, 0.4) 5px 5px, 
                rgba(255, 96, 206, 0.3) 10px 10px,
                rgba(255, 96, 206, 0.2) 15px 15px,
                rgba(255, 96, 206, 0.1) 20px 20px,
                rgba(255, 96, 206, 0.05) 25px 25px;
}

.Article-Two{
    box-shadow: rgba(155, 208, 186, 0.4) 5px 5px, 
                rgba(155, 208, 186, 0.3) 10px 10px,
                rgba(155, 208, 186, 0.2) 15px 15px,
                rgba(155, 208, 186, 0.1) 20px 20px,
                rgba(155, 208, 186, 0.05) 25px 25px;
}

.Article-One>h2{
    font-family: var(--mainFont);
    color: var(--dark);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 2.5em;
}