@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --sidePadding: 8%;
    --primaryColor: rgb(41, 39, 80);
    --secondaryColor: #9bd0ba;
    --thirdColor: #ff60ce;
    --grey: #9b9eac;
    --light: #fff;
    --dark: #1f1f1f;
    --background: #fff;
    --mainFont: 'barlow', sans-serif;
    --secondaryFont: 'prompt', sans-serif;
    --primaryColorAlt: #64637a;
    --gradient: linear-gradient(to bottom, #0b001698 0%, #0b0016c2 74%, #0b0016 100%);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--grey);
    width: 100%;
    height: 100%;
}

h2 {
    margin: 0;
    font-family: var(--mainFont);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--light);
    font-size: 3em;
}

/* ------------------------------MAIN-NAV------------------------------------- */
.navbar{
    background-color: transparent;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0.8em 0;
    transition: 0.3s ease-in;
}

.fix-it{
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15),
    0px 5px 10px rgba(0, 0, 0, 0.05);
    position: fixed;
    background-color: var(--primaryColor);
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 0 auto; */
    padding: 0 10px;
}

.main-nav-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0.2em 0;
    margin: 0;
}

.main-nav-element {
    text-transform: uppercase;
    display: flex;
    margin: auto 0.5em;
}

.main-nav-element>a {
    color: var(--light);
    text-decoration: none;
    padding: 1.8em 0.3em;
    margin: -0.8em auto;
    font-weight: 600;
    font-family: var(--mainFont);
    transition: all 0.3s ease-in-out;
    position: relative;
}

.main-nav-element>a::after,
.sub-nav-element>a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--thirdColor);
    left: 50%;
    bottom: 23px;
    transition: all 0.5s ease-in-out;
}

.main-nav-element>a:hover::after{
    width: 80%;
    left: 10%;
}


.main-nav-element>a:hover{
    color: var(--thirdColor);
}

.main-nav-element .active::after, .stay-effect::after {
    width: 80%;
    left: 10%;
}

.main-nav-element .active {
    color: var(--thirdColor);
}

.main-nav-element-hover {
    position: relative;
}

.sub-nav-elements {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    list-style: none;
    background-color: var(--primaryColor);
    top: 55px;
    left: 0;
    padding: 0;
    width: max-content;
}

.main-nav-element-hover:hover .sub-nav-elements {
    visibility: visible;
}

.sub-nav-elements:hover .main-nav-element-hover {
    color: var(--thirdColor);
}

.sub-nav-element{
    display: flex;
    justify-content: center;
}

.sub-nav-element>a {
    text-decoration: none;
    color: var(--light);
    position: relative;
    font-weight: 600;
    font-family: var(--mainFont);
    padding: 15px 10px;
}

.sub-nav-element>a::after {
    bottom: 10px;
}

.sub-nav-element>a:hover::after {
    width: 80%;
    left: 10%;
}

.sub-nav-element>a:hover {
    color: var(--thirdColor);
}

.main-nav-logo{
    height: 56px;
}

.main-nav-logo>img {
    width: 100%;
    height: 100%;
}

.main-nav .reg-button {
    padding: 0.5em 1.5em;
    border-radius: 100PX;
    background-color: var(--thirdColor);
    transition: all 0.4s ease-in-out;
    font-size: 1.2em;
    border: 0.1em solid var(--thirdColor);
    text-transform: uppercase;
    font-family: var(--mainFont);
    font-weight: 600;
    color: var(--light);
    margin: auto 0 auto 0.3em;
}

.fas{
    margin-left: 0.5em;
}

.main-nav .reg-button:hover {
    background-color: transparent;
    color: var(--thirdColor);
    box-shadow: 0px -0.03em 0.33em var(--thirdColor);
    cursor: pointer;
}
/* -----------------------first-section-home-page------------- */
section {
    height: 100vh;
    width: 100%;
    padding: 5.9% var(--sidePadding) 0 var(--sidePadding);
    background-color: var(--primaryColor);
}

#Welcome{
    margin: 0;
    padding: 0;
    background-image: url(./images/laptop-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Welcome::before{
    content: "";
    background: var(--gradient);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
}

.welcome-container{
    margin: 0;
    PADDING: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 75%;
}

.mini-description {
    height:100%;
    background-color: rgba(155, 208, 186, 0.3);
    box-shadow: 6px 0 1px rgba(255, 96, 206, 0.4),
                -6px 0 1px rgba(255, 96, 206, 0.4);
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;   
}

.mini-description h2 {
    margin: 0 4px;
    width: 15ch;
    line-height: 1em;
    color: var(--light);
}

.mini-description h2::first-line{
    color: var(--thirdColor);
}

.mini-description p {
    width: auto;
    font-size: 1em;
    color: var(--light);
    line-height: 1.4em;
    margin: 20px 10px;
    font-family: var(--secondaryFont);
}

/* -----------------------------------------events-brief-show-container------------------ */
.events-brief-show {
    padding-top: 0;
    background-color: var(--primaryColor);
    height: auto;
}

.events-brief-show-sub-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.events-brief-show-sub-sec>h2 {
    margin: 40px;
    position: relative;
    width: max-content;
}

.events-brief-show-sub-sec>h2::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 4px;
    background-color: var(--background);
    left: 0.3%;
    bottom: -10%;
    transition: all 0.4s ease-in-out;
}


.event-slides {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 73px 100px;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
}

.event-slide {
    height: 451.76px;
    width: 260.82px;
    padding: 20px;
    background-color: var(--background);
    border-radius: 10px;
    overflow: hidden;
    border: 0.5px solid #64637a;
    box-shadow: 0.5rem 0.5rem var(--primaryColorAlt),
        -0.5rem -0.5rem var(--secondaryColor);
}

.img-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 50px #ccc;
}

.brief-info>h2 {
    width: 10ch;
    color: var(--primaryColor);
    font-size: 2.3em;
}

.brief-info>p {
    font-size: 1em;
    color: var(--primaryColorAlt);
    line-height: 1em;
    width: fit-content;
    font-family: var(--secondaryFont);
}

/* ----------------------------------Articles-------------------------- */
#Articles{
    height: auto;
}
.Articles-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

.Articles-container>h2 {
    position: relative;
    margin: 40px;
    width: max-content;
}

.Articles-container>h2::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 4px;
    background-color: var(--background);
    left: 0.3%;
    bottom: -10%;
    transition: all 0.4s ease-in-out;
}

.Articles-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.Article-One,
.Article-Two {
    background-color: var(--light);
    width: 96%;
    height: 45%;
    border-radius: 15px 50px;
    box-shadow: rgba(255, 96, 206, 0.4) 5px 5px, 
                rgba(255, 96, 206, 0.3) 10px 10px,
                rgba(255, 96, 206, 0.2) 15px 15px,
                rgba(255, 96, 206, 0.1) 20px 20px,
                rgba(255, 96, 206, 0.05) 25px 25px;
    padding: 8px 30px;
}

.Article-Two{
    box-shadow: rgba(155, 208, 186, 0.4) 5px 5px, 
                rgba(155, 208, 186, 0.3) 10px 10px,
                rgba(155, 208, 186, 0.2) 15px 15px,
                rgba(155, 208, 186, 0.1) 20px 20px,
                rgba(155, 208, 186, 0.05) 25px 25px;
    margin-bottom: 40px;
            }

.A-2-H2, .A-1-H2{
    font-family: var(--mainFont);
    color: var(--dark);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 2.5em;
}
.A-2-P,.A-1-P{
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 1.1em;
    margin: 0.5em 0;
    color: var(--dark);
    width: fit-content;
}

.first-letter{
    color: var(--dark);
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 0.7em;
    font-size: 300%;
    padding-right: 6px;
    line-height: 75%;
}

.rm{
    color: #4B0082;
    text-decoration: underline;
    cursor: pointer;
}

.A-2-H3, .A-1-H3{
    color: var(--dark);
    font-size: 1.5em;
    margin: 0;
    font-weight: 700;
    font-family: var(--mainFont);
    margin-bottom: 10px;
}
/* -----------------------------Artical-1----------------------------- */
#Artical-One-content{
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    top: 80px;
    height: 100vh;
    background-color: rgb(41, 39, 80,0.90); 
    z-index: 3;
}

.scroll-div{
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0 15%;

    /* k */
}

#Artical-One-content .A-exit{
    position: sticky;
    right: 20px;
    top: 20px;
    font-size: 3em;
    float: right;
    margin: -55px 30% 0 93%;
    cursor: pointer;
    color: red;
}

.Article-One-content-container>p:first-of-type>.first-letter{
    font-size: 400%;
    height: 78%;
}
.Artical-One-content h2{
    margin-bottom: 40px;
}

.Article-One h3{
    margin-bottom: 20px;
}

.Artical-One-content p{
    font-size: 1.4em;
    margin: 0 0 30px 0;
    line-height: 1.6em;
}

.Article-One-content-container{
    background-color: var(--light);
    padding: 40px 60px;
}

.article-One-img-container{
    margin: 40px 0;
    text-align: center;
    font-style: italic;
    font-size: 1em;
}

.Artical-One-content .A-1-H3-SP{
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.A-1-links{
    color: var(--dark);
}

.A-1-P-SP{
    position: relative;
}

.A-1-P-SP::after{
    content: "";
    position: absolute;
    top: 3%;
    left: -10px;
    height: 94%;
    width: 3px;
    background-color: var(--dark);
}


/* -----------------OLD-Home------------------------------ */
/* .welcome-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0;
    padding: 0;
}

.slides-container {
    height: 100%;
    width: 60%;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
    width: 100%;
}

.slide {
    height: 100%;
    min-width: 100%;
}

.slide img {
    height: 100%;
    width: 100%;
}

.slide-controls {
    display: flex;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(50%);
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#prev-btn,
#next-btn {
    background: transparent;
    cursor: pointer;
    font-size: 30px;
    border: none;
    color: var(--grey);
    padding: 10px;
}

#prev-btn:focus,
#next-btn:focus {
    outline: none;
} */