@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --sidePadding: 12%;
    --primaryColor: #292750;
    --secondaryColor: #9bd0ba;
    --thirdColor: #ff60ce;
    --thirdColorAlt: #d33b8b;
    --grey: #9b9eac;
    --light: #fff;
    --dark: #0a0a0a;
    --background: #fff;
    --mainFont: 'barlow',sans-serif;
    --secondaryFont: 'prompt',sans-serif;
    --primaryColorAlt: #64637a;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--background);
    color: var(--grey);
    width: 100%;
    height: 100%;
}

/* ---------------------------------------NAV-BAR----------------- */
.main-nav{
    display: flex;
    flex-wrap: wrap;
        padding: 0 var(--sidePadding);
        background-color: var(--primaryColor);
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15), 
                    0px 5px 10px rgba(0, 0, 0, 0.05);
    }
    
    .main-nav-elements{
        display: flex;
        list-style: none;
        margin: 0 0 0 auto;
    }
    
    .main-nav-element{
        margin: auto 1em;
        text-transform: uppercase;
    }
    
    .main-nav-element>a{
        color: var(--light);
        text-decoration: none;
        padding: 0.5em 0;
        font-weight: 600;
        font-family: var(--mainFont);
        transition: all 0.3s ease-in-out;
        position: relative;
    }
    
    .main-nav-element>a::after, .sub-nav-element>a::after{
        position: absolute;
        content: "";
        width: 0%;
        height: 2px;
        background-color: var(--thirdColor);
        left: 50%;
        bottom: 0;
        transition: all 0.4s ease-in-out;
    }
    
    .main-nav-element>a:hover::after{
        width: 80%;
        left:10%;
    }
    
    
    .main-nav-element>a:hover{
        color: var(--thirdColor);
    }
    
    .main-nav-element:nth-child(2) > a::after{
        width: 80%;
        left: 10%;
    }
    
    .main-nav-element:nth-child(2) > a{
        color: var(--thirdColor);
    }
    
    .main-nav-logo{
        height: 5em;
        width: 6em;
        display: flex;
        align-items: center;
    }
    
    .main-nav-element-hover{
        position: relative;
    }
    
    .sub-nav-elements{
        display: flex;
        flex-direction: column;
        visibility: hidden;
        position: absolute;
        list-style: none;
        background-color: var(--primaryColor);
        top: 20px;
        left: 0;
        padding: 0;
        width: max-content;
    }
    
    .main-nav-element-hover:hover .sub-nav-elements{
        visibility: visible;
    }
    
    .sub-nav-elements:hover .main-nav-element-hover{
        color: var(--thirdColor);
    }
    
    .sub-nav-element{
        padding: 15px 10px;
        display: flex;
        justify-content: center;
    }
    
    .sub-nav-element>a{
        text-decoration: none;
        color: var(--light);
        position: relative;
        font-weight: 600;
        font-family: var(--mainFont);
    
    }
    
    .sub-nav-element>a::after{
        bottom: -8px;
    }
    
    .sub-nav-element>a:hover::after{
        width: 80%;
        left:10%;
    }
    
    .sub-nav-element>a:hover{
        color: var(--thirdColor);
    }
    
    .main-nav-logo img{
        width: 100%;
        height: 100%;
    }
    
    .main-nav .reg-button{
        width: 12rem;
        height: 50%;
        margin: AUTO 1em;
        border-radius: 100PX;
        background-color: var(--thirdColor);
        transition: all 0.4s ease-in-out;
        font-size: 1.2em;
        border: none;
        text-transform: uppercase;
        font-family: var(--mainFont);
        font-weight: 600;
        color: var(--light);
    }
    .main-nav .reg-button:hover{
        border: 0.1em solid var(--thirdColor);
        background-color: transparent;
        color: var(--thirdColor);
        box-shadow: 0px -0.03em 0.33em var(--thirdColor);
        cursor: pointer;
    }
 /* -------------------------------------WHO--------------------------------------    */
 section{
    height: 100vh;
    width: 100%;
    padding: 5.9% var(--sidePadding) 0 var(--sidePadding);
    background-color: var(--primaryColor);
}

.Who-container{
    width: 100%;
    display: flex;
    height: 100%;
    position: relative;
}

.Who-container::after{
    content: "";
    width: 55%;
    height: 93%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--secondaryColor);
    box-shadow: 20px -20px 0 var(--primaryColor),
                30px -30px 0 var(--primaryColorAlt);
}

.left-container{   
    width: 55%;
    background-color: var(--light);
    height: 100%;
    position: relative;
}

.right-container{
    width: 45%;
    background-color: var(--light);
    height: 100%;
}

.left-container-img{
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 110%;
    height: 65%;
    z-index: 2;
}



.MC-Bday{
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/* -----------------------------History---------------------- */
#History{
    padding: 0 var(--sidePadding);
}
.history-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.history-container::before{
    content: "";
    background-image: url(/images/computer-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    left: 0%;
    top: 0%;
}

.history-container::after{
    content: "";
    width: 33%;
    height: 100%;
    background-color: var(--primaryColor);
    opacity: 0.5;
    left: 54%;
    top: 0;
    position: absolute;
    box-shadow: 5px 0 0 var(--thirdColor),-5px 0 0 var(--thirdColor);
}

/* ----------------------Activities--------------------- */
#Activities{
    padding: 0 var(--sidePadding);
}

.active-container{
    width: 100%;
    height: 100%;
    background-color: var(--background);
}